@page "/"
@inject NASCAR_Money.Helpers.IEventIdHelper EventIdHelper
@using System

<PageTitle>Index</PageTitle>



<p>
    The upcoming cup event id: @upcomingCupEventId
    The upcoming cup event id: @previousCupEventId

</p>
@if (upcomingCupEventId == 0 || upcomingCupEventId == null)
{
   <h1>loading</h1>
}
else
{
    <NASCAR_Money.Pages.Components.RaceWeekend year="2023" seriesId="1" eventId="@upcomingCupEventId"> </NASCAR_Money.Pages.Components.RaceWeekend>
}


@code {
    private int upcomingCupEventId;
    private int previousCupEventId;

    protected override async Task OnInitializedAsync()
    {
        previousCupEventId  = await EventIdHelper.GetPreviousCupEventId(DateTime.Now);
        upcomingCupEventId = await EventIdHelper.GetUpcomingCupEventId(DateTime.Now);
    }
}
